/* UNITY */
#unity-module-template-wrapper {
	width: 100%;
	height: 100%;
}


/* INPUTS */
#inputs-module-template-wrapper {
	height: 100%;
	flex-direction: row;
	justify-content: space-between;
}

#inputs-protocol-part {
	height: 100%;
	flex-direction: row;
	align-items: center;
	width: auto;
}

#inputs-names-part {
	height: 100%;
	flex-direction: column;
}

.inputs-names-input {
	--unity-cursor-color: var(--main-font-color);
}



#inputs-protocol-part .button TextElement {
	font-size: 12px;
}


.inputs-names-row {
	flex-direction: row;
	justify-content: space-between;
	height: 50%;
}

.inputs-names-label {
	font-size: 14px;
	-unity-font-style: normal;
}

.inputs-names-input {
	width: 200px;
}

.inputs-names-input, .inputs-names-input * {
	background-color: var(--main-buttons-color);
	color: var(--main-font-color);
}

#researcher-name-part {
	margin-bottom: 5px;
}

/* TODO: will be custom element */
#protocol-dropdown {
	width: 300px;
	margin: 0px;
	padding: 0px;

	background-image: url('/Assets/Images/SVG/TriangleIcon.svg');
	background-color: var(--main-buttons-color);
	background-size: contain;
    background-position: 200% 200%;	/* out of screen */
    background-repeat: no-repeat;
}

#protocol-dropdown:hover {
	background-color: var(--hover-buttons-color);
}

#protocol-update-btn,
#protocol-saveAsNew-btn
{
	padding: 0 10px;
	white-space: nowrap;
	margin-left: 7px;
}
#protocol-dropdown,
#protocol-update-btn,
#protocol-saveAsNew-btn
{
	height: 50%;
}






/* CONTROLS */
/* common */
#experiment-body-left-part-controls {
	padding-left: 5px;
}

#controls-module-template-wrapper .button {
	height: 100%;
	border-radius: 10px;
}

#controls-module-template-wrapper .button TextElement {
	font-size: 12px;
}

#controls-module-template-wrapper {
	width: 100%;
	height: 100%;
	flex-direction: row;
}

#controls-module-template-wrapper > * {
	height: 100%;
}

/* main btns */
#controls-main-btns-part {
	width: 50%;
	height: 100%;
}

#main-btns-first-row, #main-btns-second-row, #main-btns-third-row, .main-btns-row-btns {
	flex-direction: row;
	align-items: center;
}

.main-btns-row-btns {
	height: 100%;
}

#main-btns-first-row, #main-btns-second-row {
	height: 30%;
}

#main-btns-third-row {
	height: 40%;
}

.main-btns-row-btns > * {
	width: 33%;	/* almost 1/3. center column will be "flex-grow: 1" */
}

#multiple-btns-wrapper {
	flex-direction: column;
	height: 100%;
}

#multiple-btns-wrapper .button {
	width: 100%;
}

#experiment-pause-btn {
	margin-bottom: 7px;
}

.main-btns-row-name {
	width: 20%;
}

.main-btns-row-name TextElement {
	-unity-text-align: middle-left;
	font-size: 13px;
}

.main-btns-row-btns {
	width: 80%;
}

#main-btns-second-row {
	margin: 7px 0px;
}

/* center column */
#moog-engage-btn, #multiple-btns-wrapper, #empty-place-for-future-btn {
	margin: 0px 7px;
	flex-grow: 1;
}

#empty-place-for-future-btn {
	/* background-color: var(--warning-color); */
	visibility: hidden;
}

/* intercom */
#controls-intercom-part {
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

#intercom-inner-wrapper {
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
}

#controls-intercom-part #intercom-main-icon {
	width: 28px;
	height: 28px;
	background-image: url('/Assets/Images/SVG/IntercomInactiveIcon.svg');
}

#controls-intercom-part #intercom-main-icon .icon-color {
	background-color: var(--main-images-color);
}



#controls-intercom-part #intercom-incomming-state,
#controls-intercom-part #intercom-outcomming-state {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

#controls-intercom-part #intercom-incomming-state {
	background-image: url('/Assets/Images/SVG/ArrowIcon.svg');
	rotate: 180deg;
}

#controls-intercom-part #intercom-outcomming-state {
	background-image: url('/Assets/Images/SVG/ArrowIcon.svg');
}

#controls-intercom-part #intercom-incomming-state .icon-color,
#controls-intercom-part #intercom-outcomming-state .icon-color {
	background-color: var(--active-buttons-color);
}





#controls-intercom-part.isActive #intercom-main-icon {
	background-image: url('/Assets/Images/SVG/IntercomActiveIcon.svg') !important;
}

#controls-intercom-part.isActive #intercom-main-icon .icon-color {
	background-color: var(--active-buttons-color) !important;
}

#controls-intercom-part.isActive.isIncoming #intercom-incomming-state {
	display: flex;
}

#controls-intercom-part.isActive.isOutgoing #intercom-outcomming-state {
	display: flex;
}




#controls-intercom-part.isDisabled #intercom-main-icon {
	background-image: url('/Assets/Images/SVG/IntercomDisabledIcon.svg') !important;
}

/* #controls-intercom-part.isDisabled #intercom-main-icon .icon-color {
	background-color: var(--secondary-images-color) !important;
} */

#intercom-text {
	font-size: 10px;
	margin-top: 3px;
}

/* #controls-intercom-part.isDisabled #intercom-text {
	color: var(--secondary-font-color);
} */

/* controller */
#controls-controller-part {
	width: 30%;
	flex-direction: column;
}

#controller-first-row, #controller-second-row, #controller-third-row {
	width: 100%;
	flex-direction: row;
	justify-content: center;
}

#controller-first-row, #controller-third-row {
	height: 30%;
}

#controller-second-row {
	height: 40%;
	margin: 7px 0px;
}

#controls-controller-part .button {
	width: 30%;
}

#controls-controller-part .button TextElement {
	font-size: 12px;
}

#controls-controller-part .button.isActive {
	background-color: var(--active-buttons-color);
}

#controls-controller-part .button.isActive TextElement {
	color: var(--contrast-font-color);
	/* font-size: 14px; */
}


#controller-center-btn {
	margin: 0px 7px;
}


/* STATUSES */
#statuses-module-template-wrapper {
	height: 100%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.status-block {
	height: auto;
	width: 55px;
	flex-direction: column;
	margin-right: 10px;
}

#running-status-block {
	margin: 0;
	margin-left: 30px;
	width: 80px;
	justify-content: center;
}

.status-block-color {
	height: 16px;
	background-color: var(--waiting-color);
	margin-bottom: 3px;
}

.status-block-text {
	-unity-font-style: normal;
	font-size: 10px;
}


/* INFO and WARNINGS */
#info-module-template-wrapper {}
#warnings-module-template-wrapper {}

#info-module-textbox, #warnings-module-textbox,		#debug-console-module-textbox {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 15px 7px 7px 7px;
	font-size: 10px;
	-unity-text-align: upper-left;
	-unity-font-style: normal;
}

#warnings-module-textbox {
	color: var(--error-color);
	font-size: 10px;
	/* font-size: 14px; */
}